@model IEnumerable<FoodHunter.FoodHunterWeb.AppLayer.ViewModels.List.ApprovalListViewModel>

@{
    ViewBag.Title = "Pending Approvals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pending Approval Lists</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Ignore", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
