

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="@Url.Action("UserList", "AppAdminController")">User List<span>with further blablah</span></a>
<a href="@Url.Action("RestaurantList", "AppAdminController")">Restaurent List <span>with further blablah</span></a>
<a href="@Url.Action("ApprovalList", "AppAdminController")">Approval List <span>with further blablah</span></a>

