

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="@Url.Action("UserList", "AppAdminController")">User List<span>All the Users are here</span></a>
<a href="@Url.Action("RestaurantList", "AppAdminController")">Restaurent List <span>All the Restaurant are here</span></a>
<a href="@Url.Action("ApprovalList", "AppAdminController")">Approval List <span>Controll the Approvals</span></a>

