

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Users List","UserList","AppAdmin")<br/>
<p>See the List Of Users</p>
@Html.ActionLink("Restaurants List", "RestaurantList", "AppAdmin")<br/>
<p>See the List Of Restaurants</p>
@Html.ActionLink("Approval List", "ApprovalList", "AppAdmin")
<p>Pending Approval Lists</p>
